/* Home Page Banner Css */
#homeimg{
   background-color: darkolivegreen;
   width: 91%;
   height: 525px;
   left: 50px;
   position: relative;
   border-radius: 25px;
   top: 0px;
}
.img1 img{
   position: absolute;
      width:56%;
      height: 505px;
      margin-left: 5px;
      border-radius: 15px;
      top: 5px;
  }
  .img2 img{
      position: absolute;
      width:42%;
      height: 250px;
      margin-left: 665px;
      border-radius: 15px;
      top: 5px;
  }
  .img3 img{
   position: absolute;
   width:42%;
   height: 250px;
   margin-left: 665px;
   border-radius: 15px;
   top: 265px;
}
/* Home Page Banner Css Ended*/
/* Home Page after Banner  Css start*/
#latest-container{
   background-color:blueviolet;
   position: relative;
   width: 91%;
   height: 455px;
   margin-left: 50px;
   margin-top: 5px;
   border-radius: 25px;
}
.latestheading{
   position: absolute;
   left: -5px;
   color: gold;
   background-color: black;
}
.hr1{
   width: 8%;
   border: 2px solid rgb(78, 255, 87);
   position: absolute;
   top: 42px;
   left: 10px;
}
.latestimage{
   position: absolute;
   top: 770px;
   width: auto;
   left: 60px;
   border-radius: 25px;
}
.title{
   position: relative;
   width: 20%;
   margin-left: 870px;
   top: -2550px;
   gap: 50px;
   color: rgb(10, 32, 12);
}
